.login_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: x-large;
}

.input{
    background-color: burlywood;
    border-radius: 15px;
    border-color: transparent;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    /*background-color: #4766ff;*/
}


.submit_btn{
    width: 90px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;

    background-color: darkcyan;
    border-color: transparent;

    font-size: 1.5rem;
    font-style: italic;
                cursor: pointer;

 }