.login_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    /*background-color: #4766ff;*/
}


.submit_btn{
    width: 90px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;

    background-color: darkcyan;
    border-color: transparent;

    font-size: 1.5rem;
    font-style: italic;
                cursor: pointer;

 }