.home_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title {
    font-size: x-large;
    font-style: italic;
    text-underline: chocolate;
    text-underline-style: dash;
}

.dashboard_btn{
    background: darkseagreen;
    color:red;
    padding: 10px;
    width: fit-content;
}

.student_view_btn{
    background: #73b462;
    color:red;
    padding: 10px;
    width: fit-content;

}


.options{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    border-radius: 10px;
    padding: 20px;
}
