.course {
    flex-grow: 1;
    margin:10px;
    background-color: aqua;
    /*padding: 10px;*/
    border-radius: 20px;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.course_title {
    background-color: #4766ff;
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 2em;
}

.poster {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
}


.btn{
    padding: 15px;

    flex-grow: 1;
    text-align: center;
}
.btn_right{
    background-color:chartreuse;
    border-bottom-right-radius: 20px;
}
.btn_left{
    background-color:chocolate ;
    border-bottom-left-radius: 20px;
}
.btn_holder {
    display: flex;
    /*background-color: darkgreen;*/
    /*padding: 10px;*/
    width: 100%;
    align-items: flex-start;
    align-self: center;
}
