.header{
    display: flex;
    flex-direction: row;
    background-color: #49ace2;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 1rem;
    /*padding-right: 30px;*/
    /*padding-left: 30px;*/
}

.logo{
    /*font-style: italic;*/
    font-weight: bold;
    color: black;
    padding: 10px;
}

.school{
    color: black !important;
}

.login_btn{
    transition: color ease 200ms;
    padding: 10px;
}

.login_btn:hover{
    background-color: #73b462;
    color:black;
}

.signup_btn{
    transition: color ease 200ms;
    padding: 10px;
}

.signup_btn:hover{
    background-color: #8c76b4;
    color:black;
}

.logout_btn{
    /*padding: 5px;*/
    transition: color ease 200ms;
}

.logout_btn:hover{
    background-color: #b45a41;
    color:black;
}

.username_label{
    background-color: orange;
    /*padding: 10px;*/
    border-radius: 10px;
}

.just_row{
    display: flex;
    flex-direction: row;
}

.header_row{
    display: flex;
    justify-content: left;
    align-items: center;
    /*background-color: red !important;*/
}

.white_padding{
    background-color: white;
    padding: 5px;
    border-radius: 100px ;
}

