.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: orange;*/
    padding: 10px;
    width: 60%;
    border-radius: 10px;
}


.comment_row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
}

.user_avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px ;
    min-height: 70px ;
    border-radius: 100px;
    background-color: #4cff64;
    color:black;

}

.comment_body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    color:white;
    border-radius: 300px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #247b30;
    font-size: 1rem !important;
}

.input_comment{
    border:none;
}

.input_comment:focus{
    outline: none;
}

.input_comment::placeholder{
    color:#fff5;
}
