.footer{
    display: flex block;
    flex-direction: row;
    position: fixed;
    /*width: 100%;*/
    bottom: 0;
    left: 0;
    right: 0;
    margin:0 10px;
    padding: 0 10px;
    background-color: #173F5F;
    border-radius: 100px;
    height:20px;
}




