.table{
    display: flex;
    flex-direction: column;
    background-color: #4cc5ff;
    padding: 10px;
    align-self: center;
    justify-self: center;
    border-radius: 30px;
    width: 95%;
    /*overflow: hidden;*/
    /*max-width: 90%;*/

}


@media screen and (min-width: 600px) {
    .table {
        width: 70%;
    }
}

