.table{
    display: flex;
    flex-direction: column;
    background-color: #4cc5ff;
    padding: 10px;
    align-self: center;
    justify-self: center;
    border-radius: 30px;
    min-width: 70%;
    /*max-width: 90%;*/

}
