a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:white;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn{
    color:white;
    height: 30px;
    line-height: 30px;
    border-radius: 100px;
    width: 75px;
    font-size: 1rem;
    transition: background-color ease 200ms;
    font-style: normal;
    cursor: pointer;
    margin: 10px;
    text-align: center;
}

.add_btn:hover{
    background-color: #007400;
}
.add_btn{
    background-color: darkgreen;
}

.back_btn:hover{
    background-color: #73a7fb;
}
.back_btn{
    background-color: #5e8afb;
}


.label{
    background-color: coral;
    padding:4px;
    border-radius: 20px;
    font-size: 0.8rem;
    margin: 5px;
}


.cell{
    margin: 5px;
    border: none;
    padding: 10px 0px;
    background-color: #354c74;
    border-radius: 30px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%;
    color: white;
}

.cell:hover{
    background-color:#48679D ;
}

.row{
    display: flex;
    flex-direction: row;
    margin: 5px;
    width:100%;
    /*background-color: blueviolet;*/
    /*flex-wrap: wrap;*/
}


.cell-1{
    flex: 1 0 100px;
}

.cell-2{
    flex: 2 0 100px;
}

.cell-input{
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    color:white;
}

.cell-input::placeholder{
    color: #73a7fb;
}

.cell-input:focus{
    outline: none;
}


.clickable{
    cursor: pointer;
}

.header-cell{
    background-color: #23324c;
    color:white;
}


.input{
    background-color: burlywood;
    border-radius: 15px;
    border-color: transparent;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 60%;
    outline: none;
}

.submit_btn{
    width: 100px;
    border-radius: 15px;
    /*margin-top: 50px;*/
    text-align: center;

    background-color: #2fbdbd;
    border-color: transparent;

    font-size: 1rem;
    cursor: pointer;
 }

