body {
  margin: 0;
  background-color: #d0eeff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'b_nazanin';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/BNazanin/BNazanin.woff'); /* IE9 Compat Modes */
 }


@font-face {
  font-family: 'sade';
  /*font-style: normal;*/
  /*font-weight: 400;*/
  src: url('fonts/A-Sade/A-Sade.ttf'); /* IE9 Compat Modes */
 }


* {
  font-family:  b_nazanin;
  font-size: large;
}
