.student{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe84d;
    /*width: 200px;*/
    /*height: 100px;*/
    margin: 10px;
    padding: 5px 20px;
    border-radius: 20px;
    color:black !important;
    text-align: center;
    transition: background-color ease 300ms;
}

.student:hover{
    background-color: #eab883;
    border: none;
}
