.add_day_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_day_form{
    display: flex;
    flex-direction: column;
    /*background-color: coral;*/
    /*padding: 30px;*/
    text-align: center;
    align-items: center;
}
